#01. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

#02. Importing Dataframes

In [2]:
#Pathway to the Dataframes
path = r'C:\Users\Dallas\Desktop\Data Analyst - Projects\Data Immersion\Data Immersion A4\04-2023 Instacart Basket Analysis'

In [3]:
#Importing orders.csv dataframe
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [4]:
#Importing products.csv dataframe
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [5]:
#Importing departments.csv dataframe
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

#03.Data Wrangling

In [6]:
#Original Orders Table printout
df_ords

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [7]:
#Creating a new table that excludes the eval_set column
df_ords_2 = df_ords.drop(columns = ['eval_set'])

In [8]:
df_ords_2

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [9]:
#Question 2. Changing order_id and user_id to string types as they are not needed for statistical analysis
df_ords_2['order_id'] = df_ords_2['order_id'].astype('str')
df_ords_2['user_id'] = df_ords_2['user_id'].astype('str')

In [10]:
#Checking the data type of order_id
df_ords_2['order_id'].dtype

dtype('O')

In [11]:
#Checking the data type of user_id
df_ords_2['user_id'].dtype

dtype('O')

In [12]:
#Question 3. Change variable name within df_ords with an unintuitive name and change it without overwriting the dataframe
df_ords_2.rename(columns = {'orders_dow' : 'orders_day_of_week'}, inplace = True)

In [13]:
#Question 4. The busiest hour for placing orders is 10
df_ords['order_hour_of_day'].value_counts(dropna = False)

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

In [14]:
#Question 5. Determine the meaning behind value 4 in department_id column using data dictionary
data_dict = df_dep_T_new.to_dict('index')

NameError: name 'df_dep_T_new' is not defined